<div class= "container">
<form>
<div class ="form-group">
Enter title
<input type="text" Data-ng-model="job.jobTitle" class="form-control">
</div>

<div class ="form-group">
Enter description
<input type="text" Data-ng-model="job.jobDescription" class="form-control">
</div>

<div class ="form-group">
Enter skillsrequired
<input type="text" Data-ng-model="job.skillsRequired" class="form-control">
</div>

<div class ="form-group">
Enter location
<input type="text" Data-ng-model="job.location" class="form-control">
</div>

<div class ="form-group">
Enter yoe
<input type="text" Data-ng-model="job.yrsOfExp" class="form-control">
</div>

<div class ="form-group">
Enter company name
<input type="text" Data-ng-model="job.companyName" class="form-control">
</div>

<div class ="form-group">
Enter salary
<input type="text" Data-ng-model="job.salary" class="form-control">
</div>

<div class ="form-group">
<input type="submit" class="form-control" value="Add Job" ng-click="addJob(job)">
</div>
</div>